/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

// LEAFLET

.leaflet-container{
    width: 50em;
    height:50em;
}
/* global styling */
.leaflet-control-geosearch *,
.leaflet-control-geosearch *:before,
.leaflet-control-geosearch *:after {
  box-sizing: border-box;
}

/* leaflet button styling */
.leaflet-control-geosearch .leaflet-bar-part {
  border-radius: 4px;
  border-bottom: none;
}

.leaflet-control-geosearch a.leaflet-bar-part:before,
.leaflet-control-geosearch a.leaflet-bar-part:after {
  position: absolute;
  display: block;
  content: '';
}

/* magnifying glass */
.leaflet-control-geosearch a.leaflet-bar-part:before {
  top: 15px;
  left: 13px;
  width: 6px;
  border-top: 2px solid #555;
  transform: rotateZ(45deg);
}

.leaflet-control-geosearch a.leaflet-bar-part:after {
  top: 8px;
  left: 8px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: 2px solid #555;
}

/* resets for pending and error icons */
.leaflet-control-geosearch.error a.leaflet-bar-part:before,
.leaflet-control-geosearch.pending a.leaflet-bar-part:before {
  display: none;
}

.leaflet-control-geosearch.pending a.leaflet-bar-part:after,
.leaflet-control-geosearch.error a.leaflet-bar-part:after {
  left: 50%;
  top: 50%;
  width: 18px;
  height: 18px;
  margin: -9px 0 0 -9px;
  border-radius: 50%;
}

/* pending icon */
.leaflet-control-geosearch.pending a.leaflet-bar-part:after {
  content: '';
  border: 2px solid #555;
  border-top: 2px solid #f3f3f3;
  animation: spin 1s linear infinite;
}

/* error icon */
.leaflet-control-geosearch.error a.leaflet-bar-part:after {
  content: '!';
  line-height: initial;
  font-weight: 600;
  font-size: 18px;
  border: none;
}

/* search form styling */
.leaflet-control-geosearch form {
  display: none;
  position: absolute;
  top: 0;
  left: 36px;
  border-radius: 0 4px 4px 0;
  background-color: #fff;
  background-clip: padding-box;
  z-index: -1;
  height: auto;
  margin: 0;
  padding: 0 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}

.leaflet-geosearch-button form.open {
  border-radius: 0 4px 4px 4px;
}
.leaflet-control-geosearch.active form {
  display: block;
}

.leaflet-geosearch-button.active .leaflet-bar-part {
  border-radius: 4px 0 0 4px;
  width: 36px;
}

.leaflet-geosearch-button form {
  max-width: 350px;
}

.leaflet-control-geosearch form input {
  min-width: 200px;
  width: 100%;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
  height: 26px;
  border: none;
  border-radius: 0 4px 4px 0;
  text-indent: 8px;
}

.leaflet-touch .leaflet-geosearch-bar form {
  border: 2px solid rgba(0,0,0,0.2);
  box-shadow: none;
}

.leaflet-touch .leaflet-geosearch-bar form input {
  height: 30px;
}

.leaflet-control-geosearch .results {
  background: #fff;
}

.leaflet-control-geosearch .results > * {
  line-height: 24px;
  padding: 0 8px;
  border: 1px solid transparent;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leaflet-control-geosearch .results.active {
  padding: 8px 0;
  border-top: 1px solid #c6c6c6;
}

.leaflet-control-geosearch .results > .active,
.leaflet-control-geosearch .results > :hover {
  background-color: #f8f8f8;
  border-color: #c6c6c6;
  cursor: pointer;
}

/* add missing border to form */
.leaflet-control-geosearch .results.active:after {
  content: '';
  display: block;
  width: 0;
  position: absolute;
  left: -2px;
  bottom: -2px;
  top: 30px;
}

.leaflet-touch .leaflet-control-geosearch .results.active:after {
  border-left: 2px solid rgba(0, 0, 0, .2);
}

/* animations */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.leaflet-top .leaflet-geosearch-bar,
.leaflet-bottom .leaflet-geosearch-bar {
  display: none;
}

.leaflet-geosearch-bar {
  position: relative;
  display: block;
  height: auto;
  width: 400px;
  max-width: calc(100% - 120px);
  margin: 10px auto 0;
  cursor: auto;
  z-index: 0;
}

.leaflet-geosearch-bar form {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  border-radius: 4px;
}

.leaflet-geosearch-bar form input {
  min-width: 100%;
  width: 100%;
}

.leaflet-geosearch-bar .results.active:after {
  opacity: .2;
}

.leaflet-right .leaflet-control-geosearch form {
  right: 28px;
  left: initial;
  border-radius: 4px 0 0 4px;
  border-left: inherit;
  border-right: none;
}

.leaflet-control-geosearch a.reset {
  color: black;
  font-weight: bold;
  position: absolute;
  line-height: 26px;
  padding: 0 8px;
  right: 0;
  top: 0;
  cursor: pointer;
  border: none;
  text-decoration: none;
  background-color: #fff;
  border-radius: 0 4px 4px 0;
  display: none;
}

.leaflet-touch .leaflet-control-geosearch a.reset {
  line-height: 30px;
}

.leaflet-control-geosearch a.reset:hover {
  background: #f5f5f5;
}

// GENERAL

#app-container {
  font-family: 'Manrope', sans-serif;
  position: relative;
  height: 100%;
}

#main-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-top: 60px;
  padding-bottom: 120px;
}

.page-title {
  text-align: center;
  font-weight: 700;
  margin-top: 20px;
}

// HEADER

.header-container {
  background: rgb(27,162,116);
  background: linear-gradient(90deg, rgba(27,162,116,1) 0%, rgba(24,143,102,1) 100%);
  position: fixed;
  top:0;
  right:0;
  left:0;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.37);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.37);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.37);
  z-index: 100000;
  align-items: flex-start;
}

.header-title {
  font-size: 25px;
  color:white;
  margin: 0px;
  font-weight: 800;
  margin-top: 3px;
}

.header-title-link {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.header-nav-link {
  text-decoration: none;
  color: white;
  font-weight: 800;
  font-size: 18px;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.header-nav-dashboard-wrapper {
  display: flex;
  align-items: center;
}

.header-nav-avatar {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 5px;
}

.header-nav-group {
  margin-top: 10px;
}

.header-nav-search-button {
  font-weight: 800;
  font-size: 18px;
  color: black;
  background-color: white;
  border: 1px solid white;
  padding: 3px 5px;
  margin-right: 15px;
}

.header-nav-search-wrapper {
  margin-bottom: 5px;
}

// HOME

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-jumbotron-wrapper {
  margin: 10px 0px 30px 0px;
}

.home-jumbotron-text-box {
  padding: 20px;
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 5px 5px;
}

.home-jumbotron-title {
  text-align: center;
  font-weight: 700;
}

.home-jumbotron-button {
  background-color: #1ba274;
  border: 1px solid #1ba274;
  font-weight: 800;
  font-size: 20px;
}

.home-jumbotron-image {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.home-subtitle {
  font-weight: 700;
}

.home-trails-button {
  background-color: #1ba274;
  border: 1px solid #1ba274;
  font-weight: 800;
  font-size: 20px;
  margin: 10px 0px 50px 0px;
}

.home-featured-trails-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.home-trail-card {
  width: 200px;
  margin: 10px;
}

.home-trail-image {
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 5px 5px 0 0;
}

.home-trail-text-box {
  background-color: #ededed;
  padding: 10px;
  height: 150px;
  border-radius: 0 0 5px 5px;
}

.home-trail-link {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: #1ba274;
  }
}

.home-trail-title {
  font-weight: 800;
}

.home-trail-location {
  margin-bottom: 5px;
}

.home-trail-summary {
  font-size: 12px;
  margin:0;
}

// DASHBOARD

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.dashboard-content-wrapper {
  background-color: #ededed;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
}

.dashboard-greeting {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.dashboard-subtitle {
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
  text-align: center;
}

.dashboard-favorites-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.dashboard-favorite-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.dashboard-badge-image {
  width: 120px;
}

.dashboard-badges-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.dashboard-favorite-card {
  width: 200px;
  margin: 10px;
}

.dashboard-favorite-link {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: #1ba274;
  }
}

.dashboard-favorite-title {
  font-weight: 800;
}

.dashboard-favorite-text-box {
  padding: 10px;
  background-color: #f9f9f9;
  height: 100px;
  border-radius: 0 0 5px 5px;
}

.dashboard-favorites-button {
  background-color: #1ba274;
  border: 1px solid #1ba274;
  font-weight: 800;
  margin: 10px;
}

.dashboard-trails-button {
  background-color: black;
  border: 1px solid black;
  font-weight: 800;
  font-size: 22px;
  margin: 30px 10px 10px 10px;
}

.dashboard-activity-button {
  background-color: #1ba274;
  border: 1px solid #1ba274;
  font-weight: 800;
  margin: 10px;
}

.dashboard-settings-button {
  font-weight: 800;
  margin: 10px;
}

.dashboard-activity-list-item-link {
  text-decoration: none;
  color: #1ba274;
  font-weight: 800;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.dashboard-empty-message {
  text-align: center;
  margin-top: 10px;
}

.dashboard-activity-list-item-text {
  font-weight: 600;
}

.dashboard-activity-list-item-title {
  font-size: 14px;
}

.dashboard-activity-list-group {
  margin-top: 10px;
}

// USER ACTIVITY

.user-activity-container {
  margin-bottom: 50px;
}

.user-activity-list-title {
  font-size: 14px;
}

.user-activity-list-link {
  font-weight: 800;
  color: #1ba274
}

.user-activity-list-text {
  font-weight: 600;
}


// TRAIL PROFILE

.trail-profile-body {
  background-color: #ededed;
  padding: 20px;
  border-radius: 0 0 5px 5px;
}

.trail-profile-location {
  font-weight: 600;
  font-size: 20px;
}

.trail-profile-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.trail-profile-wrapper {
  margin: 10px 0px 20px 0px;
}

.trail-profile-title {
  font-weight: 800;
}

.trail-profile-favorite-button {
  font-weight: 800;
}

.trail-profile-subtitle-wrapper {
  display: flex;
  flex-flow: row wrap;
  margin-top: 5px;
}

.trail-profile-length {
  margin: 0 0 0 20px;
  font-size: 18px;
  background-color: white;
  padding: 2px 5px;
  font-weight: 600;
  height: 100%;
  border-radius: 2px;
}

// FAVORITES PAGE

.favorites-empty-message {
  color: gray;
}

// COMMENTS

.comment-user-name {
  font-weight: bold;
}

.comment-date {
  font-style: italic;
}

.user-activity-list-link {
  font-weight: bold;
}

.comment-index-container {
  margin-bottom: 50px;
}

.comments-new-form-submit {
  font-weight: 800;
  margin: 10px 0px;
}

.comments-list-item-edit-button {
  margin-right: 10px;
}

.comments-list-item-edit-form-submit {
  margin-top: 10px;
  font-weight: 800;
}

.comments-new-form-label {
  font-weight: 700;
}

.comments-list-item-wrapper {
  display: flex;
  flex-direction: row;
}

.comments-list-item-avatar {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
}

.comments-list-item-text-area {
  width: 100%;
}

//QUESTIONNAIRE
.question-legend {
  margin: 40px;
  width: 500px;
  text-align: center;
}
.question-fieldset {
  border: 3px solid;
  padding: 2px;
}
.radio-btn {
  text-align: center;
}
.questionnaire-title {
  text-align: center;
}
.questionnaire-submit-button {
  text-align:center;
}

// TRAILS INDEX

.trails-index-container {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trails-index-list-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 0px;
}

.trails-index-list-image {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 5px 0 0 5px;
}

.trails-index-list-text-box {
  background-color: #ededed;
  padding: 10px;
  height: 200px;
  width: 100%;
  border-radius: 0 5px 5px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.trails-index-list-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  &:hover {
    text-decoration: none;
    color: #1ba274;
  }
}

.trails-index-list-title {
  font-weight: 800;
}

.trails-index-list-location {
  margin: 0;
  font-size: 18px;
  font-weight: 600
}

.trails-index-list-length-wrapper {
  display: flex;
}

.trails-index-list-length {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  background-color: white;
  padding: 1px 5px 1px 5px;
  border-radius: 2px;
  text-align: center;
}

.trails-index-list-summary {
  margin: 5px 0 0 0;
  font-size: 14px;
  font-weight: 300
}

.trails-index-list-button-wrapper {
  position: absolute;
  bottom: 0px;
  margin: 0 10px 10px 0;
  text-align: right;
}

.trails-index-list-button {
  font-size: 12px;
}

.trails-index-list-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.trails-index-subtitle {
  text-align: center;
  margin-bottom: 30px;
}

// ABOUT

.about-container {
  
}

.about-image {
  width: 100%;
}

// CONTACT

.contact-container {
  
}

// FOOTER

#footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#footer {
  background: rgb(27,162,116);
  background: linear-gradient(90deg, rgba(27,162,116,1) 0%, rgba(24,143,102,1) 100%);
  height: 120px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%
}

.footer-left {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.footer-link {
  text-decoration: none;
  color: white;
  font-weight: 800;
  margin-bottom: 5px;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.footer-message {
  font-size: 12px;
  margin: 10px 0 0 0;
}
