/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

// LEAFLET

.leaflet-container{
    width: 50em;
    height:50em;
}

// GENERAL

#app-container {
  font-family: 'Manrope', sans-serif;
}

.page-title {
  text-align: center;
  font-weight: 700;
}

// HEADER

.header-container {
  background-color: #1ba274;
}

.header-title {
  font-size: 25px;
  color:white;
  margin: 0px;
  font-weight: 800;
}

.header-title-link {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.header-nav-link {
  text-decoration: none;
  color: white;
  font-weight: 600;
  &:hover {
    text-decoration: none;
    color: black;
  }
}



// HOME

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-jumbotron-wrapper {
  margin: 10px 0px 30px 0px;
}

.home-jumbotron-text-box {
  padding: 20px;
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-jumbotron-title {
  text-align: center;
  font-weight: 700;
}

.home-jumbotron-button {
  background-color: #1ba274;
  border: 1px solid #1ba274;
  font-weight: 800;
  font-size: 20px;
}

.home-jumbotron-image {
  width: 100%;
}

.home-subtitle {
  font-weight: 700;
}

.home-trails-button {
  background-color: #1ba274;
  border: 1px solid #1ba274;
  font-weight: 800;
  font-size: 20px;
  margin: 10px 0px 50px 0px;
}

.home-featured-trails-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.home-trail-card {
  width: 200px;
  margin: 10px;
}

.home-trail-image {
  object-fit: cover;
  height: 200px;
  width: 200px;
}

.home-trail-text-box {
  background-color: #ededed;
  padding: 10px;
  height: 150px;
}

.home-trail-link {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: #1ba274;
  }
}

.home-trail-title {
  font-weight: 700;
}

.home-trail-location {
  margin-bottom: 5px;
}

.home-trail-summary {
  font-size: 12px;
  margin:0;
}

// DASHBOARD

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboard-favorites-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.dashboard-favorite-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.dashboard-badge-image {
  width: 120px;
}

.dashboard-badges-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.dashboard-favorite-card {
  width: 200px;
  margin: 10px;
}

.dashboard-favorite-text-box {
  padding: 5px;
  background-color: #f9f9f9;
  height: 100px;
}

// TRAIL PROFILE

.trail-profile-body {
  background-color: #ededed;
  padding: 20px;
}

.trail-profile-location {
  font-weight: bold;
}

.trail-profile-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.trail-profile-wrapper {
  margin: 10px 0px 20px 0px;
}

// FAVORITES PAGE

.favorites-empty-message {
  color: gray;
}

// COMMENTS

.comment-user-name {
  font-weight: bold;
}

.comment-date {
  font-style: italic;
}

.user-activity-list-link {
  font-weight: bold;
}

.comment-index-container {
  margin-bottom: 50px;
}