/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

// LEAFLET

.leaflet-container{
    width: 50em;
    height:50em;
}

// GENERAL

.page-title {
  text-align: center;
}

// HEADER

.header-title {
  font-size: 20px;
  color: black;
  margin: 0px;
}

.header-title-link {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

// HOME

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-title {
  text-align: center;
}

// DASHBOARD

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboard-favorites-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.dashboard-favorite-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.dashboard-badge-image {
  width: 120px;
}

.dashboard-badges-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.dashboard-favorite-card {
  width: 200px;
  margin: 10px;
}

.dashboard-favorite-text-box {
  padding: 5px;
  background-color: #f9f9f9;
  height: 100px;
}

// TRAIL PROFILE

.trail-profile-body {
  background-color: #ededed;
  padding: 20px;
}

.trail-profile-location {
  font-weight: bold;
}

.trail-profile-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

// FAVORITES PAGE

.favorites-empty-message {
  color: gray;
}

// COMMENTS

.comment-user-name {
  font-weight: bold;
}

.comment-date {
  font-style: italic;
}

.user-activity-list-link {
  font-weight: bold;
}